@media all and (max-width: 1730px){
    .aboutme__text {
        position: absolute;
        left: -17%;
        right: 0;
        width: 134%;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
        text-align: center;
        color: #FCFDFC;
        margin-top: -10%;
    }

    .aboutme__picture{
        width: 100%;
        margin-top: 42%;
        margin-bottom: -29%;
        transform: scale(0.7);
    }
    
}

@media all and (max-width: 1696px){
    .divider{
        margin: 182px auto auto;
    }
}

@media all and (max-width: 1490px){
    .menu__list a{
        margin-right: 70px;
    }
}

@media all and (max-width: 1340px){
    .menu__list a{
        margin-right: 30px;
    }
    
    .header__container{
        margin-left: -40px;

    }

    .aboutme{
        height: 1200px;
    }

    .header__logo{
        transform: scale(0.8);
    }

    .header__menu{
        margin-right: 40px;
    }

    .aboutme__picture{
        width: 100%;
        margin-top: 56%;
        margin-bottom: -29%;
        transform: scale(0.7);
    }
}


@media all and (max-width: 1060px){
    .header__container{
        margin-left: -10px;

    }
    .intro{
        margin-top: 350px;
    }

    .header__logo{
        margin-left: 70px;
        transform: scale(0.7);
    }

    .header__menu{
        margin-right: 20px;
    }

    .intro__text{
        margin-top: 50px;
    }
    
    .aboutme__picture{
        width: 100%;
        margin-top: 68%;
        margin-bottom: -29%;
        transform: scale(0.7);
    }
}

@media all and (max-width: 1021px){
    .contact__text{
        padding-top: 142px;
    }
    
    .divider{
        margin: 73px auto auto;
    }
}

@media all and (max-width: 980px){
    .project__subtext{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        bottom: 15%;
        width: 170px;
    
    }
    .project__subtext--ad{
        position: absolute;
        left: -20px; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        bottom: 15%;
        width: 208px;
    
    }
    .subtext__rotate{
        transform: rotate(0deg);
    }

    .project__subtext2{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top: 15%;
        width: 70px;
        
    }
    .subtext__rotate2{
            transform: rotate(0deg);
    }

    .love__text{
        font-size: 3em;
    }

    .love__animation{
        font-size: 4.5em;
    }
    .aboutme__picture{
        width: 100%;
        margin-top: 78%;
        margin-bottom: -29%;
        transform: scale(0.7);
    }
}

@media all and (max-width: 800px){

    .menu{
        height: 100vh;
        width: 100vw;
        position: fixed;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1B171B;
        transition: top 1s ease;
        display: none;  
        color: #FCFDFC;
    }

    .menu__list a{
        text-decoration: none;
        color: #FCFDFC;
        margin: 20px;
    }
    .openMenu{
        display: block;
        margin-right: 20px;
    }

    .closeMenu{
        margin-right: 40px;
        margin-top: 15px;
    }
    
    nav .menu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px; 
    }
    
    .menu__list a:hover{
        background: none;
        color: #0303FC;
        font-size: 1.4rem;
    }
    .header__logo{
        margin-left: 50px;
        transform: scale(0.5);
    }
    
    .intro__animation{
        font-size: 5.6em;
    }

    .text__description{
        font-size: 0.8em;
    }

    .intro__text{
        margin-top: 40px;
    }

    .project__subtext{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        bottom: 22%;
        width: 170px;
    
    }

    .project__subtext--ad{
        position: absolute;
        left: -20px; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        bottom: 22%;
        width: 208px;
    
    }

    .project__subtext2{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top: 22%;
        width: 70px;
        
    }

    .love__text{
        font-size: 2em;
    }

    .love__animation{
        font-size: 3.5em;
    }

    .aboutme__picture{
        width: 100%;
        margin-top: 66%;
        margin-bottom: -27%;
        transform: scale(0.75);
    }

    .aboutme__text {
        position: absolute;
        left: -39%;
        right: 0;
        width: 176%;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
        text-align: center;
        color: #FCFDFC;
        margin-top: 60%;
    }

}

@media all and (max-width: 650px){
    .divider{
        width: 400px;
    }
    .contact__text{
        font-size: 3em;
    }
    .contact__btn{
        font-size: 1em;
    }

  
    /*
    .contact__links span{
    }*/
}
