@media all and (max-width: 1830px){
    .intro{
        margin-top: 300px;

    }

}

@media all and (max-width: 1850px){

}

@media all and (max-width: 1730px){
    /*.photo__portada{
        width: 30%;
    }*/
    
    .aboutme__tittle{
        font-size: 6em;
    }
    
    .aboutme__text {
        position: absolute;
        left: -17%;
        right: 0;
        width: 134%;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
        text-align: center;
        color: #FCFDFC;
        margin-top: -10%;
    }

    .aboutme__picture{
        width: 100%;
        margin-top: 42%;
        margin-bottom: -29%;
        transform: scale(0.7);
    }
    
}

@media all and (max-width: 1340px){
    .header__container{
        margin-left: -40px;

    }

    .aboutme{
        height: 1200px;
    }

    .header__logo{
        transform: scale(0.8);
    }

    .header__menu{
        margin-right: 40px;
        font-size: .8em;
    }

    .project__text{
        font-size: 13.2em;
    }

    .photo__nomad{
        
    }

    .aboutme__tittle{
        font-size: 6em;
    }

    .aboutme__picture{
        width: 100%;
        margin-top: 56%;
        margin-bottom: -29%;
        transform: scale(0.7);
    }
}

@media all and (max-width: 1150px){
    .project__text{
        font-size: 11.8em;
    }

    .photo__nomad{
        transform: scale(0.8);
    }

    .project__photos video{
        width: 700px;
    }

}

@media all and (max-width: 1060px){
    .header__container{
        margin-left: -10px;

    }
    .intro{
        margin-top: 350px;
    }

    .header__logo{
        margin-left: 70px;
        transform: scale(0.7);
    }

    .header__menu{
        margin-right: 20px;
        font-size: .75em;
    }

    .intro__animation{
        font-size: 6.5em;
    }

    .text__description{
        font-size: 1em;
    }

    .intro__text{
        margin-top: 50px;
    }

    .project__text{
        font-size: 10.7em;
    }

    .photo__nomad{
        transform: scale(0.74);
    }

    .contact__text{
        font-size: 3.5em;
    }
    
    .aboutme__picture{
        width: 100%;
        margin-top: 68%;
        margin-bottom: -29%;
        transform: scale(0.7);
    }
}

@media all and (max-width: 980px){
    .project__subtext{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        bottom: 15%;
        width: 170px;
    
    }
    .project__subtext--ad{
        position: absolute;
        left: -20px; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        bottom: 15%;
        width: 208px;
    
    }
    .subtext__rotate{
        transform: rotate(0deg);
    }

    .project__subtext2{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top: 15%;
        width: 70px;
        
    }
    .subtext__rotate2{
            transform: rotate(0deg);
    }

    .love__text{
        font-size: 3em;
    }

    .love__animation{
        font-size: 4.5em;
    }
    .aboutme__picture{
        width: 100%;
        margin-top: 78%;
        margin-bottom: -29%;
        transform: scale(0.7);
    }
}

@media all and (max-width: 800px){
    .header__logo{
        margin-left: 50px;
        transform: scale(0.5);
    }
    
    .intro__animation{
        font-size: 5.6em;
    }

    .text__description{
        font-size: 0.8em;
    }

    .intro__text{
        margin-top: 40px;
    }

    .project__text{
        font-size: 8em;
    }

    .photo__nomad{
        transform: scale(0.55);
    }

    .aboutme__tittle{
        font-size: 5em;
    }

    .project__subtext{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        bottom: 22%;
        width: 170px;
    
    }

    .project__subtext--ad{
        position: absolute;
        left: -20px; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        bottom: 22%;
        width: 208px;
    
    }

    .project__subtext2{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top: 22%;
        width: 70px;
        
    }

    .love__text{
        font-size: 2em;
    }

    .love__animation{
        font-size: 3.5em;
    }

    .project__photos video{
        width: 500px;
    }

    .aboutme__picture{
        width: 100%;
        margin-top: 66%;
        margin-bottom: -27%;
        transform: scale(0.75);
    }

    .aboutme__text {
        position: absolute;
        left: -39%;
        right: 0;
        width: 176%;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
        text-align: center;
        color: #FCFDFC;
        margin-top: 60%;
    }
}