*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Visby CF Bold';
    src: url('../typography/VisbyCF-Bold.otf');
}

@font-face {
    font-family: 'Visby CF Regular';
    src: url('../typography/VisbyCF-Regular.otf');
}

@font-face {
    font-family: 'Visby CF Light';
    src: url('../typography/VisbyCF-Light.otf');
}

@font-face {
    font-family: 'Visby CF ExtraLight';
    src: url('../typography/VisbyCF-Thin.otf');
}

@font-face {
    font-family: 'Visby CF Medium';
    src: url('../typography/VisbyCF-Medium.otf;');
}

.visbyRegular{
    font-family: 'Visby CF Regular';
}
.visbyLight{
    font-family: 'Visby CF Light';
}
.visbyBold{
    font-family: 'Visby CF Bold';
}
.visbyExtraLight{
    font-family: 'Visby CF ExtraLight';
}
.visbyMedium{
    font-family: 'Visby CF Medium';
}
ul{
    list-style: none;
}


body{
    background-color: #FCFDFC;
    font-family: 'Visby CF';
}

.container{
    height: 100vh;
    width: 100%;
}

.header *{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container{
    margin-top: 30px;
    width: 100%;
}

.align__projects{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__list a{
    text-decoration: none;
    color: #1B171B;
    margin-right: 80px;

}





.intro{
    margin-top: 170px;
    width: 100%;
    overflow: hidden;
    
}

.openMenu {
    overflow: hidden;
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}

.closeMenu{
    font-size: 1.4rem;
    display: none;
    cursor: pointer;
    
}

.header__logo{
    margin: 0px 0 0 140px;
}

.header__menu *{
    margin: 0 0px;
    overflow: hidden;
}

.header__menu{
    margin-right: 60px;
}


.intro__animation{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 50%;
    transform: translateY(-60%);
    font-weight: bold;
    text-align: center;
    font-size: 6.25vw;
}
.intro__text{
    margin-top: 70px;
    text-align: center;
    
}

.text__description{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 68%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.1vw;
}

.aboutme{
    height: 1480px;
    width: 100%;
    background-color: #1B171B;
    position: relative;
}

.aboutme__content{
    width: 40%;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.aboutme__import{
    margin-top: 200px;
    width: 100%;
}

.aboutme__picture{
    width: 100%;
    margin-top: 18%;
    transform: scale(0.6);
}

.aboutme__text {
    position: absolute;
    left: 0; 
    right: 0;
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 2;
    text-align: center;
    color: #FCFDFC;
    margin-top: -48%;
}

.aboutme__text p{
    font-size: 1.2em;
}

.aboutme__tittle{
    font-size: 5.833vw;
}

.aboutme__wallpaper{
    display: block;
    margin: 0 auto;
    width: 90%;
}
.projects{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #1B171B;
}
.project__transition{
    color: #FCFDFC;
    font-size: 4vw;
    position: absolute;
    left: 0; 
    right: 0;
    transform: translateY(-80%);
    top: 50%;
    margin-left: auto; 
    margin-right: auto;
}
.line{
    background-color: #0303FC;
    width: 20vw;
    height: 0.4vw;
    display: flex;
    transform: rotate(270deg);
    margin: 0 auto;

}
.transition__lastest{
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
}

.transition__projects{
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}
.projects__svg{
    position: absolute;
    width: 200%;
    top: 50%;
    transform: translateY(-96%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

.transition__svg{
    width: 100%;
   
}

.project{
    position: relative;
    overflow: hidden;
}

.subtext__color{
    color: #FCFDFC;
}

.project__homy{
    position: absolute;
    top: 50%;
    transform: translateY(-48%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.project--homy{
    background-color: #FE6351;
}

.project__text{
    font-size: 11.6vw;
    display: block;
    color: #FCFDFC;
    text-align: center;
}

.project__photos{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 10;
}

.photo__portada{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 31%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    z-index: 3;
    transition: transform .2s ease-in-out;
}

/*.photo__portada:hover{
    transform: scale(1.05);
}*/

.photo__proyecto01{
    position: absolute;
    width: 25%;
    top: 50%;
    left: 11%;
    transform: translateY(-50%);
    z-index: 2;
}

.photo__proyecto02{
    position: absolute;
    width: 25%;
    top: 50%;
    right: 11%;
    transform: translateY(-50%);
    z-index: 2;
}

.photo__nomad{
    width: 34%;
    left: 0px;
    position: absolute;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}

.black{
    color: #1B171B;
}

.project__video{
    position: absolute;
    width: 40%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.project--nomad{
    background-color: #480981;
}

.subtext__rotate{    
    transform: rotate(-90deg);
}

.subtext__rotate2{    
    transform: rotate(90deg);
}

.subtext__rotate--white{
    color: #FCFDFC;
}

.project__subtext2{
    font-size: 1.3em;
    position: absolute;
    right: 70px;
}

.project__text--nomad{
    color: #FCFDFC;
}
.project__text--sinergia{
    color: #1B171B;
}

.project--sinergia{
    background-color: #FCFDFC;
}

.project__subtext{
    font-size: 1.3em;
    position: absolute;
    left: 0px;
}

.love{
    height: 100vh;
    width: 100%;
    background-color: #1B171B;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.love__text{
    font-size: 3.5em;
    color: #FCFDFC;
    text-align: center;
    display: flex;
    justify-content: center;    
}

.love__animation{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: #FCFDFC;
    overflow: hidden;
}

.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.contact__text{
    display: flex;
    width: 100%;
    padding-top: 200px;
    font-size: 4em;
    text-align: center;
    justify-content: center;
}

.contact__btn{
    font-size: 1.4em;
    margin-top: 80px;
    text-align: center;
    justify-content: center;
}

.btn__style{
    text-decoration: none;
    background-color: #0303FC;
    color: #FCFDFC;
    padding: 15px 30px;
    border-radius: 53px;
    opacity: 0.6;
    transition: 0.3s;
}
.btn__style:hover{
    opacity: 1;
}

.divider{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 248px;
}

.divider img{
    width: 600px;
}

.contact__links{
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    padding: 30px;
}

.contact__links * {
    margin: 0 15px;
    text-decoration: none;
}

.footer__btn {
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: #1B171B;
}
