//import
// Variables
$white-maog: #FCFDFC;
$black-maog: #1B171B;
$blue-maog: #0303FC;
$gray-maog: #8A8A8D;

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/*
@font-face {
    font-family: 'visby_cflight';
    src: url('../typography/visbycf-light-webfont.woff2') format('woff2'),
         url('../typography/visbycf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfregular';
    src: url('../tipography/visbycf-regular-webfont.woff2') format('woff2'),
         url('../tipography/visbycf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfthin';
    src: url('../tipography/visbycf-thin-webfont.woff2') format('woff2'),
         url('../tipography/visbycf-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfbold';
    src: url('../tipography/visbycf-bold-webfont.woff2') format('woff2'),
         url('../tipography/visbycf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfbold';
    src: url('../tipography/visbycf-bold-webfont.woff2') format('woff2'),
         url('../tipography/visbycf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cflight';
    src: url('../tipography/visbycf-light-webfont.woff2') format('woff2'),
         url('../tipography/visbycf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfregular';
    src: url('../tipography/visbycf-regular-webfont.woff2') format('woff2'),
         url('../tipography/visbycf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfthin';
    src: url('visbycf-thin-webfont.woff2') format('woff2'),
         url('visbycf-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.visbyRegular{
    font-family: 'Visby CF Regular' sans-serif;
}
.visbyLight{
    font-family: 'Visby CF Light';
}
.visbyBold{
    font-family: 'Visby CF Bold';
}
.visbyExtraLight{
    font-family: 'Visby CF ExtraLight';
}
.visbyMedium{
    font-family: 'Visby CF Medium';
}*/

ul{
    list-style: none;
}

body{
    background-color: $black-maog;
    font-family: 'Visby CF';
    overflow-x: hidden;

}

.white{
    background-color: $white-maog;
}
@mixin fullScreen {
    height: 100vh;
    width: 100%;
}

.container{
    @include fullScreen();
    background-color: $black-maog;

}

.header{
    *{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__container{
        margin-top: 30px;
        width: 100%;
    }

    &__logo{
        margin: 0px 0 0 140px;
    }

    &__menu{
        *{
            margin: 0 0px;
            overflow: hidden;
        }
        margin-right: 60px;
    }
}

.menu{
    &__list{

        & a{
            text-decoration: none;
            color: $white-maog;
            margin-right: 80px;  
        }

        & :hover{
            color: $blue-maog;
            cursor: pointer;
        }

        &__black{
            & a {
                color: $black-maog;
                text-decoration: none;
                margin-right: 80px;  
            }
            & :hover{
                color: $blue-maog;
                cursor: pointer;
            }
        }
        
    }



}

.openMenu {
    overflow: hidden;
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}

.closeMenu{
    font-size: 1.4rem;
    display: none;
    cursor: pointer;
    
}

@mixin centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    &__tittle {
        text-align: center;
        color: $white-maog;
        font-size: 3.8em;
        margin-top: 110px;
    }

    .inputs{
        @include centerBox();
        margin-top: 135px;

    }
    
    &__inputs{
        margin-left: 0 auto;
        margin-right: 0 auto;

        & input{
            border: none;
            outline: none;
            border-bottom: 1px solid $gray-maog;
            width: 380px;
            height: 26px;
            margin-bottom: 34px;
            background-color: transparent;
            color: $white-maog;
            font-family: 'Visby CF';
            font-size: 1em;
            opacity: 0.7;
            transition: 0.4s;

            &:focus{
                opacity: 1;
                border-bottom: 1px solid $white-maog;
            }
        }
        .inputs__name{
            width: 170px;
            margin-right: 35px;
        }
        .inputs__lastname{
            width: 170px;
        }

    }

    &__btn{
        @include centerBox();
        margin-top: 65px;

        & a{
            display: flex;
            justify-content: center;
            align-items: center;  
            text-decoration: none;
            text-align: center;
            width: 380px;
            height: 55px;
            border-radius: 53px;
            margin-bottom: 16px;
            cursor: pointer;   
                        
        }
        & button{
            background-color: transparent;
            border: none;
            text-decoration: none;
            text-align: center;
            width: 380px;
            height: 55px;
            border-radius: 53px;
            margin-bottom: 16px;
            cursor: pointer;  
            font-family: 'Visby CF';
            font-size: 1em;           
        }
        .login__confirmation{
            background-color: $white-maog;
            color: $black-maog;
        }

        .create__confirmation{
            border: 1px solid $white-maog;
            color: $white-maog;
        }
    }

}

.form{
    &__tittle {
        text-align: center;
        color: $black-maog;
        font-size: 3.8em;
        margin-top: 110px;
        margin-bottom: 50px;
    }

    .separator{
        width: 890px;
        height: 1px;
        background-color: $gray-maog;
        margin: auto;

    }
}

//---------------Admin View -----------------
.product{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    

    .description__left{
        display: flex;
        flex-direction: column;
        margin-right: 145px;

        .radioBtn{
            display: flex;
            margin-bottom: 40px;

            .size{
                margin-right: 30px;
            }
        }

        .submit{
            background-color: $blue-maog;
            color: $white-maog;
            border-radius: 53px;
            padding: 20px;
            border: none;
            outline: none; 
        }

        

        .info {
            border: none;
            outline: none;
            border-bottom: 1px solid $gray-maog;
            width: 380px;
            height: 26px;
            margin-bottom: 34px;
            background-color: transparent;
            color: $black-maog;
            font-family: 'Visby CF';
            font-size: 1em;
            opacity: 0.7;
            transition: 0.4s;

            &:focus{
                opacity: 1;
                border-bottom: 1px solid $black-maog;
            }
        }

        & label{
            margin-right: 0px;
            width: 100px;
            color: $gray-maog;
        }

        .input__price{
            width: 170px;
            margin-right: 35px;
        }
        .input__quantity{
            width: 170px;
        }

    }

    .description__right{
        width: 338px;
        height: 385px;
        border: 1px solid $gray-maog;
        border-radius: 44px;
    }
}

.detail{
    display: flex;
    width: 100%;
    height: 100vh;
    
    .detail__close{
        position: absolute;
        z-index: 3;
        left: 70px;
        top: 50px;
        cursor: pointer;
    }

    &__photo{
        //background-image: url("/images/t-shirt_01.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 70%;
        height: 100vh;
        
    }

    &__info{
        width: 30%;

        .detail__header{
            display: flex;
            width: 100%;
            overflow: hidden;
            padding-top: 43px;
            padding-left: 60px;
            position: relative;

            #cartCounter{
                background-color: $blue-maog;
                width: 20px;
                height: 20px;
                font-size: 0.8em;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white-maog;
                position: absolute;
                top: 10px;
                right: 99px;
            }
        }  

        .menu__list__black{
            list-style: none;
            margin: auto;
            margin-left: 300px;
        }
        

        .detail__text{
            width: 100%;
            font-size: 5em;
            overflow: hidden;
            margin-top: 40px;


            & h1{
                width: 100%;
                margin-left: 50px;
            }
        }

        .detail__info{
            width: 100%;
            overflow: hidden;
            margin-top: 80px;

            & h3{
                font-size: 1.8em;
                margin-left: 50px;
            }

            & p{
                margin-left: 50px;
                width: 70%;
            }
        }

        .detail__btn{
            display: flex;
            margin-top: 30px;
            margin-left: 50px;

            .btn__cart{
                width: 237px;
                height: 62px;
                cursor: pointer;
                background-color: $blue-maog;
                border-radius: 54px;
                border: none;
                outline: none;
                font-family: 'Visby CF';
                color: $white-maog;
                font-size: 1em;
                margin-left: 24px;
            }
        }
    }

}

//-----------My Cart-----------------------
.cart{
    width: 100%;
    display: flex;
    justify-content: center;
    &__row{
        
       &__tittles{
           display: flex;
           margin-left: 145px;
       } 
        &__separator{
            width: 830px;
            height: 1px;
            background-color: $gray-maog;
            margin-left: 140px;
        }

        &__second{
            display: flex;
            margin-left: 461px;

            & p{
                margin-right: 160px;
            }
        }

    }
    
    &__resume {
        margin-left: 141px;
        width: 100%;
        height: 100px;

        & li {
            display: flex;
            align-items: center;
            margin-top: 30px;

           & div {
               margin-right: 160px;
           }

           & img {
               margin-right: 30px;
           }

           .img-remove {
            cursor: pointer;
           }

        }

    }

    &__total{
        text-align: center;
        margin-left: -60px;
                    
        &__info{
            width: 388px;
            height: 236px;
            background-color: transparent;
            border: 1px solid $gray-maog;
            border-radius: 44px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            & h1{
                font-size: 3.5em;
            }

        }

        &__btn{
            margin-top: 36px;
            width: 388px;
            height: 62px;
            cursor: pointer;
            background-color: $blue-maog;
            border-radius: 54px;
            border: none;
            outline: none;
            font-family: 'Visby CF';
            color: $white-maog;
            font-size: 1em;
        }

    }
}

//-------------- Shop -----------------
.shop{

    .filters{
        display: flex;

    }

    &__tittle {
        text-align: center;
        color: $black-maog;
        font-size: 3.8em;
        margin-top: 110px;
        margin-bottom: 40px;
    }
    
    &__separator{
        width: 1629px;
        height: 1px;
        background-color: $gray-maog;
        margin-left: 140px; 
    }

    &__filters{
        margin-left: 150px;
        margin-bottom: 20px;
        display: flex;
        margin-right: 40%;
        
        & a{
            text-decoration: none;
            color: $black-maog;
        }
        
        & li {
            margin-right: 54px;
            all: unset;
            cursor: pointer;
        }
    }

    .products{
        margin-left: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .product{
        width: 600px;
        height: 712px;
        position: relative;
        display: block;
        margin-right: 20px;
        margin-bottom: 20px;

        &__image{
            width: 100%;
            height: 100%;
        }

        &__info{
            display: flex;
            position: absolute;
            z-index: 2;

            & p{
                color: $black-maog;
            }

            .product__name{
                margin-right: 430px;
            }
        }
        
    }
}

.contact__text{
    margin-top: 100px;
}
