*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Visby CF Bold';
    src: url('../typography/VisbyCF-Bold.otf');
}

@font-face {
    font-family: 'Visby CF Regular';
    src: url('../typography/VisbyCF-Regular.otf');
}

@font-face {
    font-family: 'Visby CF Light';
    src: url('../typography/VisbyCF-Light.otf');
}

@font-face {
    font-family: 'Visby CF ExtraLight';
    src: url('../typography/VisbyCF-Thin.otf');
}

@font-face {
    font-family: 'Visby CF Medium';
    src: url('../typography/VisbyCF-Medium.otf;');
}

.visbyRegular{
    font-family: 'Visby CF Regular';
}
.visbyLight{
    font-family: 'Visby CF Light';
}
.visbyBold{
    font-family: 'Visby CF Bold';
}
.visbyExtraLight{
    font-family: 'Visby CF ExtraLight';
}
.visbyMedium{
    font-family: 'Visby CF Medium';
}
ul{
    list-style: none;
}

body{
    background-color: #FCFDFC;
    font-family: 'Visby CF';
}

.container{
    height: 100vh;
}

.header *{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container{
    margin-top: 30px;
}

.align__projects{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    margin-top: 170px;
    width: 100%;
    
}

.header__logo{
    margin: 0px 0 0 140px;
}

.header__menu *{
    margin: 0 20px;
}

.header__menu{
    margin-right: 60px;
}

.intro__animation{
    font-weight: bold;
    text-align: center;
    font-size: 7.5em;
}
.intro__text{
    margin-top: 70px;
    text-align: center;
    
}

.text__description{
    font-size: 1.4em;
}

.aboutme{
    height: 1918px;
    width: 100%;
    background-color: #1B171B;
    position: relative;
}

.aboutme__content{
    width: 35%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.aboutme__import{
    margin-top: 200px;
}

.aboutme__picture{
    margin-left: 20%;
}

.aboutme__text {
    text-align: center;
    color: #FCFDFC;
    margin-top: -105px;
}

.aboutme__tittle{
    font-size: 7em;
}

.aboutme__wallpaper{
    display: block;
    margin: 0 auto;
    width: 90%;
}

.project-transition{
    width: 100%;
    height: 230px;
    background-image: url('../images/projects-scroll.svg');
    background-position-y: -25px;
    background-position-x: -800px;

}

.transition__svg{
    width: 100%;
   
}

.project{
    position: relative;
    overflow: hidden;
}

.project__homy{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.project--homy{
    background-color: #0303FC;
}

.project__text{
    font-size: 14em;
    display: block;
    color: #1B171B;
    text-align: center;
}

.project__photos{
    position: relative;
    z-index: 10;
}
.project--nomad{
    background-color: #1B171B;
}

.project__text--nomad{
    color: #FCFDFC;
}

.project--sinergia{
    background-color: #FCFDFC;
}

.project__subtext{
    position: absolute;
    left: 1px;
}

.love{
    height: 100vh;
    width: 100%;
    background-color: #1B171B;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.love__text{
    font-size: 3.5em;
    color: #FCFDFC;
    text-align: center;
    display: flex;
    justify-content: center;    
}

.love__animation{
    font-size: 5em;
    color: #FCFDFC;
}

.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact__text{
    padding-top: 190px;
    font-size: 4em;
    text-align: center;
    justify-content: center;
}

.contact__btn{
    font-size: 1.4em;
    margin-top: 80px;
    text-align: center;
    justify-content: center;
}

.btn__style{
    text-decoration: none;
    background-color: #0303FC;
    color: #FCFDFC;
    padding: 15px 30px;
    border-radius: 53px;
}

.divider{
    width: 600px;
    margin: auto;
    margin-top: 248px;
}

.divider img{
    width: 100%;
}

.contact__links{
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.contact__links * {
    margin: 0 15px;
    text-decoration: none;
}

.footer__btn {
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: #1B171B;
}
