* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

ul {
  list-style: none;
}

body {
  background-color: #1B171B;
  font-family: 'Visby CF';
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

section {
  overflow-x: hidden;
}

.white {
  background-color: #FCFDFC;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #1B171B;
}

.header * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  margin-top: 30px;
  width: 100%;
}

.header__logo {
  margin: 0px 0 0 140px;
}

.header__menu {
  margin-right: 60px;
}

.header__menu * {
  margin: 0 0px;
  overflow: hidden;
}

.menu .menu-hamburguesa {
  display: none;
}

.menu__list a {
  text-decoration: none;
  color: #FCFDFC;
  margin-right: 80px;
}

.menu__list :hover {
  color: #0303FC;
  cursor: pointer;
}

.menu__list__black a {
  color: #1B171B;
  text-decoration: none;
  margin-right: 80px;
}

.menu__list__black :hover {
  color: #0303FC;
  cursor: pointer;
}

.menu .openMenu {
  overflow: hidden;
  font-size: 1.8rem;
  display: none;
  cursor: pointer;
}

.menu .closeMenu {
  font-size: 1.4rem;
  display: none;
  cursor: pointer;
}

.openMenu {
  overflow: hidden;
  font-size: 1.8rem;
  display: none;
  cursor: pointer;
}

.closeMenu {
  font-size: 1.4rem;
  display: none;
  cursor: pointer;
}

.login__tittle {
  text-align: center;
  color: #FCFDFC;
  font-size: 3.8em;
  margin-top: 110px;
}

.login .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 135px;
}

.login__inputs {
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.login__inputs input {
  border: none;
  outline: none;
  border-bottom: 1px solid #8A8A8D;
  width: 380px;
  height: 26px;
  margin-bottom: 34px;
  background-color: transparent;
  color: #FCFDFC;
  font-family: 'Visby CF';
  font-size: 1em;
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login__inputs input:focus {
  opacity: 1;
  border-bottom: 1px solid #FCFDFC;
}

.login__inputs .inputs__name {
  width: 170px;
  margin-right: 35px;
}

.login__inputs .inputs__lastname {
  width: 170px;
}

.login__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}

.login__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-align: center;
  width: 380px;
  height: 55px;
  border-radius: 53px;
  margin-bottom: 16px;
  cursor: pointer;
}

.login__btn button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-align: center;
  width: 380px;
  height: 55px;
  border-radius: 53px;
  margin-bottom: 16px;
  cursor: pointer;
  font-family: 'Visby CF';
  font-size: 1em;
}

.login__btn .login__confirmation {
  background-color: #FCFDFC;
  color: #1B171B;
}

.login__btn .create__confirmation {
  border: 1px solid #FCFDFC;
  color: #FCFDFC;
}

.form__tittle {
  text-align: center;
  color: #1B171B;
  font-size: 3.8em;
  margin-top: 110px;
  margin-bottom: 50px;
}

.form .separator {
  width: 890px;
  height: 1px;
  background-color: #8A8A8D;
  margin: auto;
}

.product {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .description__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 145px;
}

.product .description__left .radioBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.product .description__left .radioBtn .size {
  margin-right: 30px;
}

.product .description__left .submit {
  background-color: #0303FC;
  color: #FCFDFC;
  border-radius: 53px;
  padding: 20px;
  border: none;
  outline: none;
}

.product .description__left .info {
  border: none;
  outline: none;
  border-bottom: 1px solid #8A8A8D;
  width: 380px;
  height: 26px;
  margin-bottom: 34px;
  background-color: transparent;
  color: #1B171B;
  font-family: 'Visby CF';
  font-size: 1em;
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.product .description__left .info:focus {
  opacity: 1;
  border-bottom: 1px solid #1B171B;
}

.product .description__left label {
  margin-right: 0px;
  width: 100px;
  color: #8A8A8D;
}

.product .description__left .input__price {
  width: 170px;
  margin-right: 35px;
}

.product .description__left .input__quantity {
  width: 170px;
}

.product .description__right {
  width: 338px;
  height: 385px;
  border: 1px solid #8A8A8D;
  border-radius: 44px;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.detail .detail__close {
  position: absolute;
  z-index: 3;
  left: 70px;
  top: 50px;
  cursor: pointer;
}

.detail__photo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 70%;
  height: 100vh;
}

.detail__info {
  width: 30%;
}

.detail__info .detail__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  padding-top: 43px;
  padding-left: 60px;
  position: relative;
}

.detail__info .detail__header #cartCounter {
  background-color: #0303FC;
  width: 20px;
  height: 20px;
  font-size: 0.8em;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FCFDFC;
  position: absolute;
  top: 28px;
  right: 28%;
}

.detail__info .menu__list__black {
  list-style: none;
  margin: auto;
  margin-left: 300px;
}

.detail__info .detail__text {
  width: 100%;
  font-size: 5em;
  overflow: hidden;
  margin-top: 40px;
}

.detail__info .detail__text h1 {
  width: 100%;
  margin-left: 50px;
}

.detail__info .detail__info {
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
}

.detail__info .detail__info h3 {
  font-size: 1.8em;
  margin-left: 50px;
}

.detail__info .detail__info p {
  margin-left: 50px;
  width: 70%;
}

.detail__info .detail__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
}

.detail__info .detail__btn .btn__cart {
  width: 237px;
  height: 62px;
  cursor: pointer;
  background-color: #0303FC;
  border-radius: 54px;
  border: none;
  outline: none;
  font-family: 'Visby CF';
  color: #FCFDFC;
  font-size: 1em;
  margin-left: 24px;
}

.cart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart__row__tittles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 145px;
}

.cart__row__separator {
  width: 830px;
  height: 1px;
  background-color: #8A8A8D;
  margin-left: 140px;
}

.cart__row__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 461px;
}

.cart__row__second p {
  margin-right: 160px;
}

.cart__resume {
  margin-left: 141px;
  width: 100%;
  height: 100px;
}

.cart__resume li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.cart__resume li div {
  margin-right: 160px;
}

.cart__resume li img {
  margin-right: 30px;
}

.cart__resume li .img-remove {
  cursor: pointer;
}

.cart__total {
  text-align: center;
  margin-left: -60px;
  /*
          body {
            min-height: 100vh;
            font-family: Roboto, Arial;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #E4ECFA;
          }
          body .dribbble {
            position: fixed;
            display: block;
            right: 20px;
            bottom: 20px;
          }
          body .dribbble img {
            display: block;
            height: 28px;
          }*/
}

.cart__total .checkoutInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

.cart__total .checkoutInfo input {
  border: none;
  outline: none;
  border-bottom: 1px solid #8A8A8D;
  width: 380px;
  height: 26px;
  margin-bottom: 34px;
  background-color: transparent;
  color: #1B171B;
  font-family: 'Visby CF';
  font-size: 1em;
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cart__total .checkoutInfo input:focus {
  opacity: 1;
  border-bottom: 1px solid #1B171B;
}

.cart__total .checkoutInfo select {
  width: 380px;
  height: 20px;
  border-radius: 20px;
  color: #8A8A8D;
}

.cart__total .checkoutInfo select option {
  color: #1B171B;
}

.cart__total__info {
  width: 388px;
  height: 236px;
  background-color: transparent;
  border: 1px solid #8A8A8D;
  border-radius: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart__total__info h1 {
  font-size: 3.5em;
}

.cart__total__btn {
  margin-top: 36px;
  width: 388px;
  height: 62px;
  cursor: pointer;
  background-color: #0303FC;
  border-radius: 54px;
  border: none;
  outline: none;
  font-family: 'Visby CF';
  color: #FCFDFC;
  font-size: 1em;
}

.cart__total :root {
  --primary: #275EFE;
  --primary-light: #7699FF;
  --dark: #1C212E;
  --grey-dark: #3F4656;
  --grey: #6C7486;
  --grey-light: #CDD9ED;
  --white: #FFF;
  --green: #16BF78;
  --sand: #DCB773;
  --sand-light: #EDD9A9;
}

.cart__total .order {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: var(--dark);
  position: relative;
  height: 63px;
  width: 240px;
  padding: 0;
  outline: none;
  cursor: pointer;
  border-radius: 32px;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.cart__total .order span {
  --o: 1;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 19px;
  line-height: 24px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  opacity: var(--o);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.cart__total .order span.default {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.cart__total .order span.success {
  --offset: 16px;
  --o: 0;
}

.cart__total .order span.success svg {
  width: 12px;
  height: 10px;
  display: inline-block;
  vertical-align: top;
  fill: none;
  margin: 7px 0 0 4px;
  stroke: var(--green);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: var(--offset);
  -webkit-transition: stroke-dashoffset 0.3s ease;
  transition: stroke-dashoffset 0.3s ease;
}

.cart__total .order:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.cart__total .order .lines {
  opacity: 0;
  position: absolute;
  height: 3px;
  background: var(--white);
  border-radius: 2px;
  width: 6px;
  top: 30px;
  left: 100%;
  -webkit-box-shadow: 15px 0 0 var(--white), 30px 0 0 var(--white), 45px 0 0 var(--white), 60px 0 0 var(--white), 75px 0 0 var(--white), 90px 0 0 var(--white), 105px 0 0 var(--white), 120px 0 0 var(--white), 135px 0 0 var(--white), 150px 0 0 var(--white), 165px 0 0 var(--white), 180px 0 0 var(--white), 195px 0 0 var(--white), 210px 0 0 var(--white), 225px 0 0 var(--white), 240px 0 0 var(--white), 255px 0 0 var(--white), 270px 0 0 var(--white), 285px 0 0 var(--white), 300px 0 0 var(--white), 315px 0 0 var(--white), 330px 0 0 var(--white);
          box-shadow: 15px 0 0 var(--white), 30px 0 0 var(--white), 45px 0 0 var(--white), 60px 0 0 var(--white), 75px 0 0 var(--white), 90px 0 0 var(--white), 105px 0 0 var(--white), 120px 0 0 var(--white), 135px 0 0 var(--white), 150px 0 0 var(--white), 165px 0 0 var(--white), 180px 0 0 var(--white), 195px 0 0 var(--white), 210px 0 0 var(--white), 225px 0 0 var(--white), 240px 0 0 var(--white), 255px 0 0 var(--white), 270px 0 0 var(--white), 285px 0 0 var(--white), 300px 0 0 var(--white), 315px 0 0 var(--white), 330px 0 0 var(--white);
}

.cart__total .order .back,
.cart__total .order .box {
  --start: var(--white);
  --stop: var(--grey-light);
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--start)), to(var(--stop)));
  background: linear-gradient(var(--start), var(--stop));
  position: absolute;
}

.cart__total .order .truck {
  width: 60px;
  height: 41px;
  left: 100%;
  z-index: 1;
  top: 11px;
  position: absolute;
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.cart__total .order .truck:before, .cart__total .order .truck:after {
  --r: -90deg;
  content: "";
  height: 2px;
  width: 20px;
  right: 58px;
  position: absolute;
  display: block;
  background: var(--white);
  border-radius: 1px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: rotate(var(--r));
          transform: rotate(var(--r));
}

.cart__total .order .truck:before {
  top: 4px;
}

.cart__total .order .truck:after {
  --r: 90deg;
  bottom: 4px;
}

.cart__total .order .truck .back {
  left: 0;
  top: 0;
  width: 60px;
  height: 41px;
  z-index: 1;
}

.cart__total .order .truck .front {
  overflow: hidden;
  position: absolute;
  border-radius: 2px 9px 9px 2px;
  width: 26px;
  height: 41px;
  left: 60px;
}

.cart__total .order .truck .front:before, .cart__total .order .truck .front:after {
  content: "";
  position: absolute;
  display: block;
}

.cart__total .order .truck .front:before {
  height: 13px;
  width: 2px;
  left: 0;
  top: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--grey)), to(var(--grey-dark)));
  background: linear-gradient(var(--grey), var(--grey-dark));
}

.cart__total .order .truck .front:after {
  border-radius: 2px 9px 9px 2px;
  background: var(--primary);
  width: 24px;
  height: 41px;
  right: 0;
}

.cart__total .order .truck .front .window {
  overflow: hidden;
  border-radius: 2px 8px 8px 2px;
  background: var(--primary-light);
  -webkit-transform: perspective(4px) rotateY(3deg);
          transform: perspective(4px) rotateY(3deg);
  width: 22px;
  height: 41px;
  position: absolute;
  left: 2px;
  top: 0;
  z-index: 1;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.cart__total .order .truck .front .window:before, .cart__total .order .truck .front .window:after {
  content: "";
  position: absolute;
  right: 0;
}

.cart__total .order .truck .front .window:before {
  top: 0;
  bottom: 0;
  width: 14px;
  background: var(--dark);
}

.cart__total .order .truck .front .window:after {
  width: 14px;
  top: 7px;
  height: 4px;
  position: absolute;
  background: rgba(255, 255, 255, 0.14);
  -webkit-transform: skewY(14deg);
          transform: skewY(14deg);
  -webkit-box-shadow: 0 7px 0 rgba(255, 255, 255, 0.14);
          box-shadow: 0 7px 0 rgba(255, 255, 255, 0.14);
}

.cart__total .order .truck .light {
  width: 3px;
  height: 8px;
  left: 83px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  position: absolute;
  border-radius: 2px;
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
  background: #f0dc5f;
}

.cart__total .order .truck .light:before {
  content: "";
  height: 4px;
  width: 7px;
  opacity: 0;
  -webkit-transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
          transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
  position: absolute;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  left: 3px;
  top: 50%;
  margin-top: -2px;
  background: -webkit-gradient(linear, left top, right top, from(#f0dc5f), color-stop(rgba(240, 220, 95, 0.7)), to(rgba(240, 220, 95, 0)));
  background: linear-gradient(90deg, #f0dc5f, rgba(240, 220, 95, 0.7), rgba(240, 220, 95, 0));
}

.cart__total .order .truck .light.top {
  top: 4px;
}

.cart__total .order .truck .light.bottom {
  bottom: 4px;
}

.cart__total .order .box {
  --start: var(--sand-light);
  --stop: var(--sand);
  width: 21px;
  height: 21px;
  right: 100%;
  top: 21px;
}

.cart__total .order .box:before, .cart__total .order .box:after {
  content: "";
  top: 10px;
  position: absolute;
  left: 0;
  right: 0;
}

.cart__total .order .box:before {
  height: 3px;
  margin-top: -1px;
  background: rgba(0, 0, 0, 0.1);
}

.cart__total .order .box:after {
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
}

.cart__total .order.animate .default {
  --o: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.cart__total .order.animate .success {
  --offset: 0;
  --o: 1;
  -webkit-transition-delay: 7s;
          transition-delay: 7s;
}

.cart__total .order.animate .success svg {
  -webkit-transition-delay: 7.3s;
          transition-delay: 7.3s;
}

.cart__total .order.animate .truck {
  -webkit-animation: truck 10s ease forwards;
  animation: truck 10s ease forwards;
}

.cart__total .order.animate .truck:before {
  -webkit-animation: door1 2.4s ease forwards 0.3s;
  animation: door1 2.4s ease forwards 0.3s;
}

.cart__total .order.animate .truck:after {
  -webkit-animation: door2 2.4s ease forwards 0.6s;
  animation: door2 2.4s ease forwards 0.6s;
}

.cart__total .order.animate .truck .light:before, .cart__total .order.animate .truck .light:after {
  -webkit-animation: light 10s ease forwards;
  animation: light 10s ease forwards;
}

.cart__total .order.animate .box {
  -webkit-animation: box 10s ease forwards;
  animation: box 10s ease forwards;
}

.cart__total .order.animate .lines {
  -webkit-animation: lines 10s ease forwards;
  animation: lines 10s ease forwards;
}

@-webkit-keyframes truck {
  10%, 30% {
    -webkit-transform: translateX(-164px);
            transform: translateX(-164px);
  }
  40% {
    -webkit-transform: translateX(-104px);
            transform: translateX(-104px);
  }
  60% {
    -webkit-transform: translateX(-224px);
            transform: translateX(-224px);
  }
  75%, 100% {
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
  }
}

@keyframes truck {
  10%, 30% {
    -webkit-transform: translateX(-164px);
            transform: translateX(-164px);
  }
  40% {
    -webkit-transform: translateX(-104px);
            transform: translateX(-104px);
  }
  60% {
    -webkit-transform: translateX(-224px);
            transform: translateX(-224px);
  }
  75%, 100% {
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
  }
}

@-webkit-keyframes lines {
  0%, 30% {
    opacity: 0;
    -webkit-transform: scaleY(0.7) translateX(0);
            transform: scaleY(0.7) translateX(0);
  }
  35%, 65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(0.7) translateX(-400px);
            transform: scaleY(0.7) translateX(-400px);
  }
}

@keyframes lines {
  0%, 30% {
    opacity: 0;
    -webkit-transform: scaleY(0.7) translateX(0);
            transform: scaleY(0.7) translateX(0);
  }
  35%, 65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(0.7) translateX(-400px);
            transform: scaleY(0.7) translateX(-400px);
  }
}

@-webkit-keyframes light {
  0%, 30% {
    opacity: 0;
    -webkit-transform: perspective(2px) rotateY(-15deg) scaleX(0.88);
            transform: perspective(2px) rotateY(-15deg) scaleX(0.88);
  }
  40%, 100% {
    opacity: 1;
    -webkit-transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
            transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
  }
}

@keyframes light {
  0%, 30% {
    opacity: 0;
    -webkit-transform: perspective(2px) rotateY(-15deg) scaleX(0.88);
            transform: perspective(2px) rotateY(-15deg) scaleX(0.88);
  }
  40%, 100% {
    opacity: 1;
    -webkit-transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
            transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
  }
}

@-webkit-keyframes door1 {
  30%, 50% {
    -webkit-transform: rotate(32deg);
            transform: rotate(32deg);
  }
}

@keyframes door1 {
  30%, 50% {
    -webkit-transform: rotate(32deg);
            transform: rotate(32deg);
  }
}

@-webkit-keyframes door2 {
  30%, 50% {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg);
  }
}

@keyframes door2 {
  30%, 50% {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg);
  }
}

@-webkit-keyframes box {
  8%, 10% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateX(112px);
            transform: translateX(112px);
    opacity: 1;
  }
  26% {
    -webkit-transform: translateX(112px);
            transform: translateX(112px);
    opacity: 0;
  }
  27%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
}

@keyframes box {
  8%, 10% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateX(112px);
            transform: translateX(112px);
    opacity: 1;
  }
  26% {
    -webkit-transform: translateX(112px);
            transform: translateX(112px);
    opacity: 0;
  }
  27%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
}

.cart__total html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.cart__total * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.cart__total *:before, .cart__total *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.shop .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__tittle {
  text-align: center;
  color: #1B171B;
  font-size: 3.8em;
  margin-top: 110px;
  margin-bottom: 40px;
}

.shop__separator {
  width: 1629px;
  height: 1px;
  background-color: #8A8A8D;
  margin-left: 140px;
}

.shop__filters {
  margin-left: 150px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40%;
}

.shop__filters a {
  text-decoration: none;
  color: #1B171B;
}

.shop__filters li {
  margin-right: 54px;
  all: unset;
  cursor: pointer;
}

.shop .products {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: hidden;
  padding-bottom: 30px;
}

.shop .imgAnimation {
  overflow: hidden;
}

.shop .product {
  width: 600px;
  height: 712px;
  position: relative;
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.shop .product__image {
  width: 100%;
  height: 100%;
}

.shop .product .product__image:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shop .product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
}

.shop .product__info p {
  color: #1B171B;
}

.shop .product__info .product__name {
  margin-right: 430px;
}

.contact__text {
  margin-top: 100px;
}
/*# sourceMappingURL=styles_sass.css.map */